runtime/*
vendor/*

a.txt
b.txt
jetee.txt
conn1.txt
conn.txt

*.zip
*.rar
*.7z
*.apk
*.log
*.pydevproject
*.tmp
*.swp
*~.nib
*.orig
*.launch
*.out

.project
.cproject
.metadata
.buildpath
.user.ini
.vscode
local.properties
.classpath
.settings/
.loadpath
.idea/
.git/
.externalToolBuilders/

node_modules/


